################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/EntityModels/obj
/Models/EntityModels/bin/Debug/net8.0
/Models/EntityModels/obj
/obj/Debug/net8.0
/obj
